
body{
    text-decoration: none;
    background: none;
}
.card.comments {
    border-top: 3px solid hsl(288, 62%, 35%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.card.blog-card {
    border-top: 3px solid hsl(290, 86%, 64%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.blog-content {
    font-size: 1.2em;
}

.blog-small {
    font-style: italic;
    font-weight: 500;
}

.blog-p {
    font-size:0.9rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.blog-buttons {
    margin: 20px 0;
}

/* https://stackoverflow.com/questions/54467992/bulma-scale-image-to-container */
.is-height-300 {
    height: 300px;
}

.image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


.form-group{
    height: 150px
}

.textinput{
    max-height: 300px;
}

     .my-4{
    font-size: 25;
}


/* .hero-body{
    font-display: none;
    display: none;
    text-decoration: none;
    padding: 0%;
} */

.card-content{
    padding: 0%;
}

h1{
    color: #fff;
    padding: 10px;
    font-weight: 500;
}

.requiredField{
    color: #fff;
    font-weight: 200;
}

.new-blog{
     height: fit-content;
}


textinput textInput form-control{
    color: white
}


footer{
    background-color: none;
}

