<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                
                <a href="{% url 'blog' %}" class="dropdown-item">Blog</a>>
                
            </div>
            
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu" aria-labelledby=""> 
                <a href="{% url 'home' %}" class="dropdown-item">
                    Home
                </a>
            </div>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                
                <a href="{% url 'products' %}" class="dropdown-item" id="products"> Vinyls </a>
                
            </div>
        </li>
    </ul>
</div>